# Virtual environment
venv/

# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# IDE files
.vscode/
*.sublime-workspace
*.sublime-project

# Environment variables
.env

# Compiled Python files
*.pyc

# Distribution folders
dist/
build/
*.egg-info/

# Compiled C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# System and IDE files
.DS_Store
Thumbs.db
*.suo
*.user
*.sln
